@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


:root {
  --background: #f3f3f3;
  --foreground: #000000;
  --shadow: #323232;
}

/* Dark theme */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --shadow: #6b7280; /* can tweak if you want softer/darker */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-shadow: var(--shadow);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
